.animated {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    text-shadow: 1px;
    position: relative;
    animation: titleBounce 1.5s ease-out 1s infinite alternate;
}

@keyframes titleBounce {
    from {
        /*start from 0px of the div (h1 or animated)*/
        bottom: 0px;
    }
    to {
        /*ending point; this will make the title to bounce up and down forever*/
        bottom: 50px;
    }
    0% {
        /*changes the color of the title constantly from 0% - 100%; similar as a flashing animation*/
        color: #FF0080;
    }
    25% {
        color: black;
    }
    50% {
        color: #3399FF;
    }
    75% {
        color: black;
    }
    100% {
        color: #ffff99;
    }
}

.sign-up {
    text-align: center;
    width: 230px;
    height: 140px;
    position: relative;
    animation-name: sign-up;
    animation-duration: sign-up 0s ease-out 4s infinite alternate;
}

@keyframes sign-up {
    from {
        /*start from 0px of the div (h1 or animated)*/
        bottom: 0px;
    }
    to {
        /*ending point; this will make the title to bounce up and down forever*/
        bottom: 90px;
    }
    0% {
        color: #BDA9FF;
    }
    25% {
        color: #FF9595;
    }
    50% {
        color: #E2B1E8;
    }
    75% {
        color: #38698C;
    }
    100% {
        color: #DB74BC;
    }
    /*0% {*/
    /*changes the color of the title constantly from 0% - 100%; similar as a flashing animation*/
    /*    color: #FF0080;*/
    /*}*/
    /*25% {*/
    /*    color: black;*/
    /*}*/
    /*50% {*/
    /*    color: #3399FF;*/
    /*}*/
    /*75% {*/
    /*    color: black;*/
    /*}*/
    /*100% {*/
    /*    color: #ffff99;*/
    /*}*/
    /*0%   {color:red; left:0px; top:0px;}*/
    /*25%  {color:yellow; left:200px; top:0px;}*/
    /*50%  {color:blue; left:200px; top:200px;}*/
    /*75%  {color:green; left:0px; top:200px;}*/
    /*100% {color:red; left:0px; top:0px;}*/
}

.tabs {
    position: absolute;
    padding: 20px;
    font-size: 18px;
    color: #C4988E;
}

.navbar {
    background-color: #152B3D;
}

#albert {
    padding-right: 270px;
    text-shadow: 1px 1px 0px #4E4D48;
}

.applic {
    text-align: center;
}

.quote {
    align-content: center;
}

.sidenav-sign {
    text-align: center;
}

.body {
    background-color: #C4988E;
}

ul {
    font-size: 19px;
}

.carousel-inner {
    height: 750px;
    text-align: center;
}

.p-border {
    text-align: center;
    padding-left: 15px;
}

/*---------------------------------------------------------------------------------------------------------------------------*/

h1 {
    text-align: center;
    font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.jumbotron {
    position: relative;
    width: 100%;
    background-color: #BCADD6;
}

.heading {
    font-family: 'Tangerine', serif;
    font-size: 48px;
}

div {
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    padding-top: 40px;
    padding-left: 15px;
}

navbar-fixed-top {
    background-color: gray;
    color: blue;
}

.pic {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
}

a:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

p {
    font-size: 140%;
}
