.animated {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    text-shadow: 1px;
    position: relative;
    animation: titleBounce 1s ease-out 1s infinite alternate;
}

@keyframes titleBounce {
    from {
        /*start from 0px of the div (h1 or animated)*/
        bottom: 0px;
    }
    to {
        /*ending point; this will make the title to bounce up and down forever*/
        bottom: 60px;
    }
    0% {
        /*changes the color of the title constantly from 0% - 100%; similar as a flashing animation*/
        color: #FF0080;
    }
    25% {
        color: black;
    }
    50% {
        color: #3399FF;
    }
    75% {
        color: black;
    }
    100% {
        color: #ffff99;
    }
}

.sign-up {
    text-align: center;
    width: 230px;
    height: 140px;
    text-shadow: 1px;
    position: relative;
    animation: sign-up 1s ease-out 1s infinite alternate;
}

@keyframes sign-up {
    from {
        /*start from 0px of the div (h1 or animated)*/
        bottom: 0px;
    }
    to {
        /*ending point; this will make the title to bounce up and down forever*/
        bottom: 60px;
    }
    0% {
        color: #BDA9FF;
    }
    25% {
        color: #FF9595;
    }
    50% {
        color: #E2B1E8;
    }
    75% {
        color: #38698C;
    }
    100% {
        color: #DB74BC;
    }
}

.navbar-nav li a:hover {
    color: #c4988e !important;
}

/*.navbar-default {
    border-color: transparen;
}*/

.pure-button {
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    font-family: "Righteous";
    font-size: 100%;
    padding: .2em 1em;
    color: white;
    background: rgb(28, 184, 65);
    border: 3px solid ;
    border-radius: 15px;
    transition: transform 1s;
}

.pure-button:hover {
    transform: rotateY(360deg); /*once cursor hovered, the button will do a 360 flip*/
    width: 200px; /*set the size of the button to shift once hovered*/
    display: inline-block; /*excludes any outside text to interfere with the button*/
    position: relative; 
}



.backgr {
    padding: 100px 25px;
}

#signlink {
    text-align: center;
}

.tabs {
    position: absolute;
    padding: 20px;
    font-size: 15px;
}

.navbar {
    background-color: #152B3D;
}

#albert {
    padding-right: 270px;
    text-shadow: 1px 1px 0px #4E4D48;
}

.quote {
    align-content: center;
}

.sidenav-sign {
    text-align: center;
}

.body {
    background-color: #C4988E;
    text-align: center;
    position: relative;
}

ul {
    font-size: 19px;
}

footer {
    background-color: #d3d3d3;
}

.greyback {
    background-color: #d3d3d3;
}

.carousel-inner {
    height: 750px;
    text-align: center;
}

.p-border {
    text-align: center;
    padding-left: 15px;
}

.click-me {
    padding: 50px 25px;
}

#advertisements {
    text-align: center;
    letter-spacing: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 40px;
}

#click {
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px black;
    padding-bottom: 40px;
}

h1 {
    text-align: center;
    font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.jumbotron {
    position: relative;
    background-color: #BCADD6;
    padding: 100px 40px;
    background-image: url(hstatSep-logo.png);
    background-size: cover;
}

.heading {
    font-family: 'Tangerine', serif;
    font-size: 48px;
}

div {
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    padding-top: 40px;
    padding-left: 15px;
}

navbar-fixed-top {
    background-color: gray;
    color: blue;
}

.pic {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
}

a:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

p {
    font-size: 140%;
}
